
block content
  form(action="/api/auth/signin", method="post")
    p Email
      input(type="email", name="email", value="email")
    p Senha 
      input(type="password", name="password", value="")
    P 
      input(type="submit")
